# {{ app_name }}

{{ app_name }} is a React-based web application.

## Table of Contents

- [Getting Started](#getting-started)
- [Available Scripts](#available-scripts)
- [Building for Production](#building-for-production)

## Getting Started

To run this project locally, you need to have Node.js and npm/yarn/pnpm installed.

### Installation

Install dependencies:

```bash
yarn install
```

### Running the Development Server

Start the development server with:

```bash
yarn run dev
```

This will start a development server at [http://localhost:4200](http://localhost:4200).

## Available Scripts

In the project directory, you can run:

### `yarn run dev`

Runs the app in development mode. Open [http://localhost:4200](http://localhost:4200) to view it in your browser.

### `yarn run build`

Builds the app for production, optimizing the bundle for the best performance.

### `yarn run preview`

Previews the production build locally on a temporary server.

## Building for Production

To create a production build of the app, run:

```bash
yarn run build
```

This will generate a `dist` folder with the optimized build.
